:root {
  --primary: #ffffff;
  --bg: #d0d0d0;
  --pemanis: #ffb300;
  --shading: #dd9104;
  --main: #3b3b3b;

  --back-g: #dbe4f5;
  --shad: #5e6f83;
  --deep: #010101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "poppins", sans-serif;
  background-color: var(--back-g);
  color: var(--primary);
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgb(126, 166, 224 0.588);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--main);
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.3);
}

.navbar .navbar-logo span {
  color: rgb(126, 166, 224);
  font-style: italic;
}

.navbar .navbar-nav a {
  color: var(--shad);
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
  color: rgb(126, 166, 224);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid rgb(126, 166, 224);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(1);
}

.navbar .navbar-extra a {
  color: var(--shad);
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: rgb(126, 166, 224);
}

#hum {
  display: none;
}
/* navbar end */

/* hero section start */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(img/hero_img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(0deg, rgb(219, 228, 245) 8%, rgba(255, 255, 255, 0) 50%);
}

.hero .content {
  padding: 1.4rem 7%;
  max-width: 60rem;
}
.hero .content h1 {
  font-size: 5em;
  color: var(--primary);
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}
/* .hero .content h1 span {
  color: var(--main);
} */

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  /* mix-blend-mode: difference; */
}

.hero .content .cta {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 1rem;
  font-size: 1.4rem;
  color: white;
  background-color: rgb(126, 166, 224);
  border-radius: 0.5rem;
  box-shadow: 1px 1px 3px rgba(1, 1, 3, 0.3);
}

.hero .content .cta:hover {
  background-color: var(--shad);
}
/* hero section end */

/* about section start */
.about,
.menu,
.contact {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.menu h2,
.contact h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 3rem;
  color: rgb(110, 146, 199);
}

.about h2 span,
.menu h2 span {
  color: var(--main);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 85%;
  height: 85%;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
}

.about .row .content h3 {
  color: var(--main);
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.about .row .content p {
  color: var(--shad);
  margin-bottom: 0.8rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.6;
}
/* about section end */

/* menu section start */
.menu h2,
.contact h2 {
  margin-bottom: 1rem;
}
.menu p,
.contact p {
  text-align: center;
  max-width: 30rem;
  margin: auto;
  font-weight: 400;
  line-height: 1.6;
  color: #3b3b3b;
}

.menu .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  justify-content: center;
}

.menu-card {
  text-align: center;
  padding-bottom: 4rem;
}

.menu .row .menu-card img {
  border-radius: 50%;
  width: 80%;
  margin-bottom: 1rem;
}
.menu .row .menu-card h3 {
  color: var(--main);
  margin-top: 1.5rem auto 0.5rem;
  margin-bottom: 0.5rem;
}
.menu .row .menu-card p {
  max-width: 10rem;
  font-size: small;
}

/* menu section end */

/* contact section start */
.contact .row {
  display: flex;
  margin-top: 2rem;
  background-color: var(--shad);
}

.contact .row .map {
  flex: 1 1 45rem;
  width: 100%;
  object-fit: cover;
}

.contact .row form {
  flex: 1 1 45rem;
  padding: 1rem 2rem;
  text-align: center;
}

.contact .row form .input-group {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  background-color: var(--deep);
  border: 0.5px solid var(--back-g);
  padding-left: 2rem;
  border-radius: 0.5rem;
}

.contact .row form .input-group input {
  width: 100;
  padding: 1.5rem;
  font-size: 1.7rem;
  background: none;
  color: var(--back-g);
}

.contact .row form .btn {
  margin-top: 2rem;
  display: inline-block;
  padding: 1rem 1.5rem;
  font-size: 1.7rem;
  color: var(--shad);
  background-color: var(--back-g);
  cursor: pointer;
  border-radius: 0.5rem;
}

.contact .row form .btn:hover {
  background-color: rgb(126, 166, 224);
  color: var(--primary);
}

/* contact section end */

/* footer section start */
footer {
  background-color: var(--shad);
  text-align: center;
  padding: 5rem 0 3rem;
  margin-top: 3rem;
}

footer .socials {
  padding: 1rem 0;
}

footer .socials a {
  color: #ffffff;
  margin: 1rem;
}

footer .socials a:hover,
footer .links a:hover {
  color: rgb(126, 166, 224);
}

footer .links {
  margin-bottom: 1.4rem;
}

footer .links a {
  color: #ffffff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 0.8rem;
}

footer .credit a {
  color: var(--main);
  font-weight: 700;
}

footer .credit a:hover {
  color: #000000;
}
/* footer section end */

/* media queries */

/* laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
  .menu .row .menu-card h3 {
    font-size: 2rem;
  }
}
/* tablet */
@media (max-width: 758px) {
  html {
    font-size: 62.5%;
  }
  #hum {
    display: inline-block;
  }
  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }
  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.3);
  }

  .about .row {
    flex-wrap: wrap; /*agar bisa turun*/
  }
  .about .row .about-img {
    text-align: center;
  }
  .about .row .about-img img {
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
  }
  .about .row .content p {
    font-size: 1.6rem;
  }

  .menu p {
    font-size: 1.2rem;
  }

  .contact .row {
    flex-wrap: wrap;
  }
  .contact .row .map {
    height: 30rem;
  }
  .contact .row form {
    padding-top: 0;
  }
}

/* mobile */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
